* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #2D2D2D;
}
.top {
    background-color: #c2b087;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 20;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border: solid 5px white;
    border-radius: 100%;
    cursor: pointer;
    font-size: larger;
    display: none;
}
.theme {
    background-color: white;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 20;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border: solid 5px white;
    border-radius: 100%;
    cursor: pointer;
    font-size: larger;
}
.activeScroll {
    display: flex;
    transition: 1s;
}

/* ------------------------header------------------------------------------- */


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 25, 25);
    box-shadow: rgba(149, 157, 165, 0.01) 0px 15px 10px -15px;
    position: relative;
    width: 100%;
    z-index: 100;
    margin-bottom: 24px;

}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;

}

header nav ul li {
    width: 15%;
    text-align: center;
}

nav img {
    width: 120px;
}

header nav ul a,
.modulesDiv {
    font-weight: 700;
    color: white;
    font-size: 18px;
}

nav ul .principal a {
    color: #c2b087;
}


nav ul .principal:hover a {
    color: #c2b087;
}

.modulesDiv {
    color: #c2b087;
}

nav {
    display: none;
}

.logoName {
    display: block;
}

.logoName h1 {
    color: white;
}

.logoContainer {
    display: block;
}

.logoContainer img {
    width: 100px;
}

header .menuButton {
    display: block;
}

header .menuButton img {
    width: 50px;
}

header .phoneNav {
    background-color: #000000bc;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    overflow: hidden;
    transition-duration: 500ms;
}

header .phoneNav a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
}

header .phoneNav li {
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

header .phoneNav .hover:hover {
    background-color: #ffffff29;
    transition: 100ms;
}

header .phoneNav .hover:hover a {
    color: white;
}

header .active {
    height: 380px;
}


header .menuButton {
    cursor: pointer;
}

.modulesDiv {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 100ms;
}


.modulesDiv:hover {
    color: #c2b087;

}

.modules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 5%;
    z-index: 99;
    display: none;
    overflow: hidden;
    transition: 500ms;
    padding: 0;
    background-color: rgb(25, 25, 25);

}

.modules li {
    padding: 5px 0;
    width: 100%;
    text-align: center;
}

.modules li:hover {
    display: block;
}

.modulesDiv {
    padding: 0;
}

.modules li:hover a {
    color: #c2b087;
}

.modulesDiv:hover .modules {
    color: #c2b087;
    display: block;
}

header .phoneNav li.studentDiv {
    padding: 0;
}

.studentDiv button {
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    background-color: inherit;
    border: none;
    padding: 20px 0;
    cursor: pointer;
}

.studentDiv button:hover {
    color: white;
}

.studentDiv:hover {
    cursor: pointer;
}

.student {
    display: none;

}

.student a {
    text-align: start;

}

.studentActive {
    display: block;
}

header .phoneNav .studentDiv {
    cursor: pointer;
}

header .active2 {
    height: 580px;
}

/* ------------------------haeder------------------------------------------- */
/* ------------------------main------------------------------------------- */
section.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.main h1{
    color: white;
}
section.main hr {
    width: 30%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f33c3c;
    margin: 1em 0;
    padding: 0;
}

section.parent {
    margin-bottom: 50px;
}

section.main .parent .description {
    padding: 50px 1em;
    background-color: #3C3C3C;    
    overflow-y:auto;
}

section.main .parent .description p {
    line-height: 30px;
}

section.main .parent .description button {
    border: none;
    color: white;
    padding: 10px 40px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1em;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px;
}

section.main .parent .description button.iscButton {
    background-color: rgb(45, 110, 231);

}

section.main .parent .description button.wameedhButton {
    background-color: rgb(25, 25, 25);

}

section.main .parent .description button.ieeeButton {
    background-color: #139CD2;

}

section.main .parent .description button.intellectButton {
    background-color: rgb(222, 61, 107);

}


section.parent .title {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
section.parent .title h2,p{
    color: white;
}
section.parent .title img {
    width: 50px;
}

section.main .parent .isc {
    background-image: url(isc_img.jfif);

}


section.main .parent .isc:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(isc_img.jfif);
    transition: 500ms;

}

section.main .parent .isc ul {
    display: none;
}

section.main .parent .isc:hover ul {
    display: block;
    transition: 500ms;

}

section.main .parent .wameedh:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(wameedh_image.jpg);
    transition: 500ms;

}

section.main .parent .wameedh ul {
    display: none;
}

section.main .parent .wameedh:hover ul {
    display: block;
    transition: 500ms;

}

section.main .parent .ieee:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(IEEE_image.jpeg);
    transition: 500ms;

}

section.main .parent .ieee ul {
    display: none;

}

section.main .parent .ieee:hover ul {
    display: block;
    transition: 500ms;

}

section.main .parent .intellect:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(intellect_image.jfif);
    transition: 500ms;

}

section.main .parent .intellect ul {
    display: none;
}

section.main .parent .intellect:hover ul {
    display: block;
    transition: 500ms;

}

section.main .parent .image {
    padding: 0 50px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.main .parent .intellect {
    background-image: url(intellect_image.jfif);
    background-position: center center;
}
section.main .parent .right {
    align-items: end;
}

section.main .parent .left {
    align-items: start;
}

section.main .parent .image li {
    color: #d3d3d3;
    display: flex;
    gap: 1em;
    margin: 20px 0;
    text-align: center;
}

section.main .parent .right li {
    justify-content: end;
}

section.main .parent .left li {
    justify-content: start;
}


section.main .parent .image li .link {
    width: 86px;
    font-weight: bold;
    display: none;
}

section.main .parent .image .aboutDiv:hover .about {
    display: block;
    transition: 500ms;
}

section.main .parent .image .workshopDiv:hover .workshop {
    display: block;
    transition: 500ms;

}

section.main .parent .image .eventDiv:hover .event {
    display: block;
    transition: 500ms;

}


section.main .parent .wameedh {
    background-image: url(wameedh_image.jpg);
    background-position: center center;
}

section.main .parent .ieee {
    background-image: url(IEEE_image.jpeg);
    background-position: start center;
}

section.parent .title .ieee_logo {
    border-radius: 50%;
    margin-right: 0.5em;
}

.phone_img {
    width: 100%;
    overflow: hidden;
}

.clubLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.clubLinks button {
    border: none;
    color: white;
    padding: 10px 40px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 1em 0;
}

.iscLinks button{
    background-color: rgb(45, 110, 231);

}
.wameedhLinks button{
    background-color: rgb(25, 25, 25);

}
.ieeeLinks button{
    background-color: #139CD2;

}
.intellectLinks button{
    background-color: rgb(222, 61, 107);

}








/* ------------------------main------------------------------------------- */

/* ------------------------footer------------------------------------------- */

footer {
    padding: 50px;
    background-color: #3C3C3C;    
    margin-top: 50px;

}

footer .part {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer .description {
    width: 80%;
}

footer .footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    gap: 1em;
    margin: 50px 0px;
}

footer .footer-links ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



footer .footer-links .socialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}




.email {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email input {
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    outline: 0;
    border: 0;
}

.email input:focus {
    border: solid 1px;
}

.email button {
    background-color: #c2b087;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
}

.email button:hover {
    background-color: #c2b087dc;
}

.contact li {
    cursor: default;
}

.hover a {
    cursor: pointer;
    color: white;
}

footer li {
    color: white;
}

footer p {
    color: white;
}

footer h2,
h1 {
    color: white;
}

.hover:hover a {
    color: #c2b087;
    transition: 250ms;
}

.hover:hover {
    color: #c2b087;
    transition: 250ms;
}

footer .footer-message {
    padding-top: 15px;
    border-top: 2px solid;
    border-color: #c2b087;
    text-align: center;
    font-weight: 400;
}

footer .footer-message .important {
    color: #c2b087;
    cursor: default;
}

footer h2 {
    margin: 0;
}

/* ------------------------footer------------------------------------------- */











@media (min-width: 1035px) {
    footer form {
        flex-direction: row;
    }

}




@media (min-width: 767px) {

    /* ------------------------haeder------------------------------------------- */
    header {
        justify-content: center;
    }

    nav {
        display: block flex;
        width: 100%;
        justify-content: center;
    }

    header .phoneNav {
        display: none;
    }

    .logoContainer {
        display: none;
    }

    header .menuButton {
        display: none;
    }

    .logoName {
        display: none;
    }

    header nav ul li a:hover {
        color: #c2b087;
        transition: 100ms;
    }

    /* ------------------------haeder------------------------------------------- */
    /* ------------------------main------------------------------------------- */

    section.parent {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: 600px;


    }

    .phone_img {
        display: none;
    }

    .clubLinks {
        display: none;
    }
}